.hp {
 background: url('/img/nekomimi.jpg') no-repeat center center / cover;
 height: 100vh;
 width: 100%;

 display: flex;
 align-items: center;
 justify-content: center;
}

 .hp__shadebox {
  width: 100%;
  height: 100%;
  position: absolute;

  top: 0; bottom: 0;
  left: 0; right: 0;

  background: rgba(0, 0, 0, .675);

  z-index: 1;
 }

 .hp__about {
  padding: 1.75em;
  font-size: 2em;

  color: #ffffff;
  z-index: 2;

  text-align: center;
 }

 .about__avatar {
  border-radius: 100%;

  border: 2px solid #ffffff;

  background: url('/img/avatar.gif') no-repeat center center / contain;
  height: 231px;
  width: 231px;

  margin: 0 auto;
  margin-bottom: 1.25em;
 }

 .about__username {
  font-size: 1.5em;
  text-transform: uppercase;

  color: #ffffff;
  text-shadow: 0px 0px 6px #ffffff;
 }