.ui-button {
 margin: .8em 0;
 padding: .5em .85em;
 font-size: .875em;

 text-transform: uppercase;
 color: #ffffff;

 border: 1px dashed #ffffff;
 
 border-radius: 5px;

 cursor: pointer;

 transition: background-color .2s;
}

.ui-button:hover {
 border: 1px solid #b78acc;
 background-color: rgba(183, 138, 204, .575);
}