.socials {
 margin: .3em 0;
 display: flex;
 align-items: center;

 flex-direction: row;
 justify-content: center;
}

.socials>a {
 flex: 1;
 margin: 0 .375em;
 max-width: 30px;
 height: 30px;

 cursor: pointer;

 transition: box-shadow .2s;

 border-radius: 100%;
}

.socials>a:hover {
 box-shadow: 0 0 5px #ffffff;
}