html, body {
 margin: 0;
 background: #efefef;
 font-size: 16px;
 font-family: 'Roboto',sans-serif;
}

@media only screen and (max-width:1250px) {body{font-size:15px;}}
@media only screen and (max-width:1180px) {body{font-size:14px;}}
@media only screen and (max-width:1100px) {body{font-size:13px;}}
@media only screen and (max-width:1025px) {body{font-size:12px;}}
@media only screen and (max-width:800px)  {body{font-size:16px;}}
